:global(.ui.basic.label).toolbarBtn {
  border: none
}

:global(.ui.basic.label).deleteBtn {
  border: none;
  float: right;
}

.liked {
  color: green;
}

.disliked {
  color: rgb(187, 41, 41);
}

.popup {
  filter: blur(0) !important;
}
