.imageWrapper {
  margin-bottom: 10px
}

:global(.ui.image).image {
  width: auto;
  max-width: 150px;
  max-height: 150px;
}

:global(.dimmed.dimmable > .ui.modals.dimmer.visible) {
  justify-content: center;
}
