.headerWrp {
  background-color: white;
  padding: 1em 0;
}

.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.menuBtn,
.menuBtn:global(.ui.icon.button) {
  color: gray;
  &:hover {
    color: black !important;
  }
}

:global(.ui.header).headerUserInfo {
  display: inline-block;
  margin-top: 0px;
}

.headerUserStatus {
  height: 25px;
}
